@model IEnumerable<Model.Dbbc>
@{
    ViewData["Title"] = "MyCourse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>My courses</h1>
<hr />
@foreach (var item in Model)
{
    string[] splited = item.Description.Split(':');
    string name = splited[0];
    string description = splited[1];

    <div class="card description-card">
        <div>
            <h3>@(name)</h3>
            <br />
            <br />
            <div class="pretty-text number-of-seats">
                Number of seats: @Html.DisplayFor(modelItem => item.NumberOfSeats)
            </div>
            <hr />
            <div class="pretty-text description-text">
                @description
            </div>
        </div>
        <img 
            alt="teach"
            src="~/images/teach.svg"
        />
    </div>
    <hr />
}
